
.Water {
    background-color: #6CB7F1;
    color: white;
    margin: 0 5px;
}

.Grass {
    background-color: #90D863;
    color: white;
    margin: 0 5px;

}

.Fire {
    background-color: #EE7969;
    color: white;
    margin: 0 5px;

}

.Flying {
    background-color: #932093;
    color: white;
    margin: 0 5px;
}

.Poison {
    background-color: #A95F9D;
    color: white;
    margin: 0 5px;
}

.Normal {
    background-color: #ecf2ba;
    color: white;
    margin: 0 5px;
}

.Bug {
    background-color: #686423;
    color: white;
    margin: 0 5px;
}

.Electric {
    background-color: #f7ed3b;
    color: white;
    margin: 0 5px;
}

.Ground {
    background-color: #a22a2a;
    color: white;
    margin: 0 5px;
}


.Fighting {
    background-color: #6269a2;
    color: white;
    margin: 0 5px;
}


.Psychic {
    background-color: #4ba29e;
    color: white;
    margin: 0 5px;
}


.Rock {
    background-color: #115618;
    color: white;
    margin: 0 5px;
}


.Ice {
    background-color: #0caee6;
    color: white;
    margin: 0 5px;
}


.Ghost {
    background-color: #150505;
    color: white;
    margin: 0 5px;
}

.Dragon {
    background-color: #a2310b;
    color: white;
    margin: 0 5px;
}

.card-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

